<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Gewara</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/carousel.css">
	<link rel="stylesheet" type="text/css" href="css/main-right.css">
	<link rel="stylesheet" type="text/css" href="css/Gewara_pb_Style.css">
</head>
<body>
	<header>
		<div class="h-top">
			<div class="w h-w">
				<a href="#" class="logo"><img src="images/blank.gif"></a>
				<div class="city"><a href="">广州<i></i></a></div>
				<ul class="nav">
					<li><a href="" class="active">首页</a></li>
					<li><a href="">电影</a></li>
					<li><a href="">演出</a></li>
					<li><a href="">活动</a></li>
					<li><a href="">社区</a></li>
				</ul>
				<div class="h-top-right">
					<div style="float: left;">
						<input type="text" name="search" placeholder="电影、演出.." class="search">
						<label class="searchbtn">
							<i></i>
						</label>
					</div>
					<div class="login">
						<img src="images/default_head.png">
						<a href="javascript:void(0);">登录</a>|
						<a href="zhuce.html">注册</a>
					</div>
					<a href="#" class="getRd">领红包</a>
			</div>
			</div>

		</div>
		<div class="h-bottom"><a href="#"></a></div>
	</header>
	<main>
		<div class="w clearfix" style="background-color: #fff;">
			<div class="maincontainer" style="background-color: #fff;">
				<div class="index-l">
					<div class="leftNavBox">
						<dl class="navMovie">
							<dt>
								<em></em>
								<a href="#">电影</a>
								<span>192家影院在线选座</span>
								<label>
									<b></b>
								</label>
							</dt>
							<dd>
								<ul class="leftNavTags">
									<li><a href="">
										<em></em>
										<span>热映电影</span>
									</a></li>
									<li><a href="">
										<em></em>
										<span>热映电影</span>
									</a></li>
									<li><a href="">
										<em></em>
										<span>热映电影</span>
									</a></li>
									<li><a href="">
										<em></em>
										<span>热映电影</span>
									</a></li>
									<li><a href=""><em></em>
										<span>热映电影</span></a></li>
									<li><a href=""><em></em>
										<span>热映电影</span></a></li>
								</ul>
								<a href="#" class="app2wm">
									<img src="images/app2wm_movie.gif">
									<span>扫描二维码下载</span>
									<span>格瓦拉@电影客户端</span>
								</a>
							</dd>
						</dl>
						<dl class="navMovie">
							<dt>
								<em></em>
								<a href="#">电影</a>
								<span>192家影院在线选座</span>
								<label>
									<b></b>
								</label>
							</dt>
							<dd style="display: none;">
								<ul class="leftNavTags">
									<li><a href="">
										<em></em>
										<span>热映电影</span>
									</a></li>
									<li><a href="">
										<em></em>
										<span>热映电影</span>
									</a></li>
									<li><a href="">
										<em></em>
										<span>热映电影</span>
									</a></li>
									<li><a href="">
										<em></em>
										<span>热映电影</span>
									</a></li>
									<li><a href=""><em></em>
										<span>热映电影</span></a></li>
									<li><a href=""><em></em>
										<span>热映电影</span></a></li>
								</ul>

							</dd>
						</dl>
					</div>
				</div>
				<div class="index-r">
					<div class="clear">
						<div class="ui-left">
							<div class="imgView">
								<div class="imgList opiList">
									<a href="javascript:void(0)" class="prev"></a>
									<a href="javascript:void(0)" class="next"></a>
									<ul>
										<li>
											<a href="">
												<img src="images/s4bfd4f32_155fbe7be94__7e68.jpg" alt=""></a>
											<div class="mask"></div>
											<span><a href="">《天亮之前》9元起特惠</a></span>
										</li>
										<li>
											<a href="">
												<img src="images/s4c472625_155fbe95a68__7e93.jpg" alt=""></a>
											<div class="mask"></div>
											<span><a href=""></a></span>
										</li>
										<li>
											<a href="">
												<img src="images/s4f8c9581_155e8928e72__7e8e.jpg" alt=""></a>
											<div class="mask"></div>
											<span><a href=""></a></span>
										</li>
										<li>
											<a href="">
												<img src="images/s_2a2941da_155b9f04977__7ece.jpg" alt=""></a>
											<div class="mask"></div>
											<span><a href=""></a></span>
										</li>
									</ul>
								</div>
								<div class="countList">
									<a href="javascript:void(0);" class="select">1</a>
									<a href="javascript:void(0);" class="">2</a>
									<a href="javascript:void(0);" class="">3</a>
									<a href="javascript:void(0);" class="">4</a>
								</div>
							</div>
						</div>
						<div class="ui-right">
							<div class="banner_app">
								<a class="pic" href="#">格瓦拉@电影下载</a>
								<a class="pic2wm" style="background-position: -2px -82px;" href="javascript:void(0);"></a>
								<div class="pic2wmBox" id="pic2wmBox" style="display: none;">
									<div class="pic2wmBoxInner">
										<i class="t">◆<i>◆</i></i>
										<img class="app2wm_tips" src="">
									</div>
								</div>
							</div>
							<ul class="speInfo" style="margin-top: 30px;">
								<li>
									<em class="ui_textTags ui_tags_kong" style="background-position: 0 -266px;">企</em>
									<a href="#">企业采购热线：4000-406-506</a>
								</li>
								<li>
									<em class="ui_textTags ui_tags_kong" style="background-position: 0 -266px;">券</em>
									<a href="#">兑换券使用说明</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="movieBox">
						<div class="clear">
							<div class="ui-left">
								<div class="mod-line">
									<div class="mod-hd">
										<h2>格瓦拉@电影</h2>
										<em id="keyNum_mpiMovieCount">90部影片正在热映</em>
										<span class="more">
											<a class="ui_qbuy" href="#">快速购票</a>
											<a class="c999 mr10" href="#">票券预售与查询</a>
											<a href="javascript:void(0)" class="cMovie">换一批</a>
										</span>
									</div>
									<div class="mod_bd">
										<ul>
											<li>
												<a href=""><img src="images/movie-1.jpg"></a>
												<p><a href="">泰山归来：险战</a></p>
												<p><span>38868人购票</span></p>
												<p><a href="" class="choosebtn">选座购票</a></p>
											</li>
											<li>
												<a href=""><img src="images/movie-2.jpg"></a>
												<p><a href="">泰山归来：险战</a></p>
												<p><span>38868人购票</span></p>
												<p><a href="" class="choosebtn">选座购票</a></p>
											</li>
											<li>
												<a href=""><img src="images/movie-3.jpg"></a>
												<p><a href="">泰山归来：险战</a></p>
												<p><span>38868人购票</span></p>
												<p><a href="" class="choosebtn">选座购票</a></p>
											</li>
											<li>
												<a href=""><img src="images/movie-4.jpg"></a>
												<p><a href="">泰山归来：险战</a></p>
												<p><span>38868人购票</span></p>
												<p><a href="" class="choosebtn">选座购票</a></p>
											</li>
											<li>
												<a href=""><img src="images/movie-1.jpg"></a>
												<p><a href="">泰山归来：险战</a></p>
												<p><span>38868人购票</span></p>
												<p><a href="" class="choosebtn">选座购票</a></p>
											</li>
											<li>
												<a href=""><img src="images/movie-2.jpg"></a>
												<p><a href="">泰山归来：险战</a></p>
												<p><span>38868人购票</span></p>
												<p><a href="" class="choosebtn">选座购票</a></p>
											</li>
											<li>
												<a href=""><img src="images/movie-3.jpg"></a>
												<p><a href="">泰山归来：险战</a></p>
												<p><span>38868人购票</span></p>
												<p><a href="" class="choosebtn">选座购票</a></p>
											</li>
											<li>
												<a href=""><img src="images/movie-4.jpg"></a>
												<p><a href="">泰山归来：险战</a></p>
												<p><span>38868人购票</span></p>
												<p><a href="" class="choosebtn">选座购票</a></p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="ui-right">

				        		<div class="main-right">
            <!-- 右边上部开始 -->
            <div class="m-r-top">
                     <div class="Carousel">
                           <ul class="carousel-ul">
                                   <li><a href="#"><img src="images/carousel/carousel-01.jpg" alt=""></a></li>
                                   <li><a href="#"><img src="images/carousel/carousel-02.jpg" alt=""></a></li>
                                   <li><a href="#"><img src="images/carousel/carousel-03.jpg" alt=""></a></li>
                                   <li><a href="#"><img src="images/carousel/carousel-04.jpg" alt=""></a></li>
                                   <li><a href="#"><img src="images/carousel/carousel-05.jpg" alt=""></a></li>
                           </ul>
                           <div class="slider">
                                 <span class="current">1</span>
                                 <span>2</span>
                                 <span>3</span>
                                 <span>4</span>
                                 <span>5</span>
                           </div>
                     </div>
            </div>
            <!-- 右边上部结束 -->

            <!-- 右边下部开始 -->
            <div class="m-r-bottom">
                   <div class="Ranking">
                          <h2>一周排行</h2>
                          <div class="Ranking-menu">
                                 <p class="well-slice">热映</p>
                                 <p class="new-slice">换片</p>
                          </div>
                   </div>

                   <div class="Movie-menu">



                   </div>

            </div>
            <!-- 右边下部结束 -->
        </div>
							</div>
						</div>
						<div></div>
						<div class="hezuo"></div>
					</div>
					<div class="Dramabox"></div>
					<div class="mod-kong"></div>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="foot">
    <div class="foot1 w">
        <div class="foot1_head">
            <span class="foot1_head_sp">格瓦拉：</span>
            <ul>
                <li><a href="#">上海</a></li>
                <li><a href="#">北京</a></li>
                <li><a href="#">杭州</a></li>
                <li><a href="#">宁波</a></li>
                <li><a href="#">嘉兴</a></li>
                <li><a href="#">绍兴</a></li>
                <li><a href="#">湖州</a></li>
                <li><a href="#">台州</a></li>
                <li><a href="#">南京</a></li>
                <li><a href="#">无锡</a></li>
                <li><a href="#">常州</a></li>
                <li><a href="#">苏州</a></li>
                <li><a href="#">南通</a></li>
                <li><a href="#">广州</a></li>
                <li><a href="#">深圳</a></li>
                <li><a href="#">佛山</a></li>
                <li><a href="#">武汉</a></li>
                <li><a href="#">重庆</a></li>
                <li><a href="#">成都</a></li>
                <li><a href="#">天津</a></li>
                <li><a href="#">合肥</a></li>
                <li><a href="#">福州</a></li>
                <li id="last"><a href="#">更多</a></li>
            </ul>
        </div>
        <div class="foot1_main">
            <div class="foo1_main">
                <div class="foot1_main1">
                    <!-- <a href="#"><img src="../img/logo1.png"/></a> -->
                    <ul>
                        <li><a href="">关于我们</a></li>
                        <li class="line"></li>
                        <li><a href="">帮助中心</a></li>
                        <li class="line"></li>
                        <li><a href="">联系我们</a></li>
                        <li class="line"></li>
                        <li><a href="">服务条款</a></li>
                        <li class="line"></li>
                        <li><a href="">法律声明</a></li>
                        <li><a href="">商家登录</a></li>
                        <li class="line"></li>
                        <li><a href="">团体购票</a></li>
                        <li class="line"></li>
                        <li><a href="">招聘人才</a></li>
                        <li class="line"></li>
                        <li><a href="">友情链接</a></li>
                        <li class="line"></li>
                        <li><a href="">访问Wap版</a></li>
                    </ul>
                </div>
                <!-- <div class="foot1_main2">
                    <div class="foot1_main2_1">
                        <img src="../img/tell.png"/>
                        <span class="spans1">客服电话</span>
                        <span class="spans2">1010-1068</span>
                    </div>
                    <div class="foot1_main2_2">
                        <span class="spans3">手机版</span>
                        <img src="../img/iphone.png" class="img1">
                        <img src="../img/Andr.png" class="img2">
                    </div>
                </div> -->
            </div>
        </div>
        <div class="foot1_foot">
            <p>
                <span>Copyright © 2007–2016 Gewara.</span>
                <span>All Rights Reserved</span>
                <span><a href="#">沪ICP备09050772号</a></span>
                <span>ICP证：沪B2-20120044</span>
            </p>
            <!-- <a href="#"><img src="../img/Souy2.png" class="img3"></a> -->
        </div>
    </div>
</div>
	</footer>
	<div class="loginwindow">
		<div class="login-title">
			<h2>格瓦拉登录</h2>
			<span class="closebtn"></span>
		</div>
		<div class="login-main">
			<div class="login-l">
				<ul>
					<li class="on">用户登录</li>
					<li>手机动态码登录</li>
				</ul>
				<div class="login-links">
					<a href="">微博</a>
					<a href="">QQ</a>
					<a href="">支付宝</a>
					<a href="">银联</a>
				</div>
			</div>
			<div class="login-r">
				<div class="margin-bottom">
					<label><input type="text" name="user" id="loginuser" placeholder="注册邮箱/手机号码"></label>
				</div>
				<div class="margin-bottom">
					<label><input type="password" name="pwd" id="password" placeholder="登录密码"></label>
				</div>
				<div class="security" style="margin-bottom: 20px;">
					<label><input type="text" name="securityKey" id="secKey" placeholder="输入验证码"></label>
					<img src="images/captcha.jpg" style="vertical-align: middle;" id="secImg">
					<a href="javascript:void(0)" class="change">换一张</a>
				</div>
				<div class="avoidLogin">
					<label><input type="checkbox" name="remenber" style="margin-right: 5px;">一周内免登录</label>
				</div>
				<div class="loginbox">
					<input type="button" value="登&nbsp;录" id="submit">
					<span>
						<a href="javascript:void(0);" id="forgetpwd">忘记密码？</a>|
						<a href="javascript:void(0);" id="zhuce">免费注册</a>
					</span>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="js/template-native.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/text.js"></script>
	<script type="text/template" id="mList">
		<ul>
		<% for (var i = 0; i < movielist.length; i++) { %>
				<li>
					<a href="#"><img src="<%= movielist[i]['src'] %>"></a>
					<p><a href="#"><%= movielist[i]['movieName'] %></a></p>
					<p><span><%= movielist[i]['numForBuy'] %>人购票</span></p>
					<p><a href="#" class="choosebtn">选座购票</a></p>
				</li>
		<% } %>
		</ul>
	</script>
	<script type="text/javascript">
		// var movieList = [{
		// 	scr:"images/movie-1.jpg",
		// 	movieName:"泰山归来：险战",
		// 	numForBuy:"38868"
		// }];
		$(".cMovie").on("click",function() {
			$.ajax({
				url:"getMovieList.php",
				data:{
					num:"4"
				},
				success:function(data) {
					console.log(data);
					var movielist = $.parseJSON(data);
					// console.log(movielist.length);
					var tempObj = {};
					tempObj.movielist = movielist;
					var html = template('mList',tempObj);
					console.log(html);
					$(".mod_bd").html(html);
				}
			});
		});
	</script>
	<script type="text/temple" id="temple01">
 <% for(var i=0;i<oo.length;i++){%>
<div class="m-m-menu-child">
                         <div class="menu-block">
                                    <span><em><%= i+1 %></em></span>
                                  <span><%=oo[i]['name']%></span>
                                  <span>↑</span>

                         </div>
                         <div class="menu-child">
                                   <span><em><%= i+1 %></em></span>
                                   <span><img src="<%=oo[i]['path']%>" ></span>
                                   <span>
                                        <a href="javascript:void(0)"><%=oo[i]['name']%></a>
                                        <p><em></em><%=oo[i]['text']%><em></em></p>
                                   </span>
                                   <span>↑</span>
                         </div>
</div>
<%}%>
 </script>
<script>
   $(function(){
      $(".new-slice").on('click',function(ev){
         $.ajax({
         url:'php/index.php',
         type:'get',
         success:function(data){

             // console.log(typeof(data));
             var oo = JSON.parse(data);
             console.log(oo);
             var resultobj = {};
             resultobj.oo = oo;
              var result=template('temple01',resultobj);
              console.log(result);

              document.querySelector('.Movie-menu').innerHTML=result;

            }
        });
    })



       $(".Movie-menu").delegate('.menu-block','mouseenter',function(){
           $(this).next("div").show();
           $(this).parent().siblings().children(".menu-child").hide();
       });

           $("m-m-menu-child").on('mouseleaver',function(){
               $(".menu-block").stop().show();
           });
             var w=$(".carousel-ul>li:eq(0)").css("width");
             var widthVal=parseInt(w);
              // 给span绑定鼠标移上来的事件
              $(".slider>span").mouseenter(function(){
                  $(this).addClass("current").siblings("span").removeClass("current");
                  var index=$(this).index();
                  console.log(index);
                  var ulleft=-index*widthVal;
                  console.log(ulleft);

                  $(".carousel-ul").stop().animate({left:-($(this).index()*widthVal)},1000);
              });
   })
</script>
</body>
</html>